* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(Image/stadiongbk4.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
    letter-spacing: 5px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 15px;
    color: white;
}

nav .fa {
    display: none;
}


/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px;
    transition: all 0.3s ease;
}


/* Media Query for Hamburger Menu */
/* Media Query for Hamburger Menu */
@media screen and (max-width: 768px) {
    .nav-links ul {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #213555;
        width: 100%;
        max-height: 50vh;
        overflow-y: auto;
        text-align: center;
        display: none;
        z-index: 9999;
        padding-top: 70px;
        box-sizing: border-box;
    }

    .nav-links ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .nav-links ul li a {
        font-size: 16px;
    }

    .hamburger {
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
        margin-top: 3vh;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10000;
        cursor: pointer;
    }

    .open {
        transform: rotate(45deg);
    }

    .open:nth-child(2) {
        opacity: 0;
    }

    .open:nth-child(3) {
        transform: rotate(-45deg);
    }

    #navLinks.show ul {
        display: block;
    }

    .close-btn {
        position: fixed;
        top: 20px;
        right: 20px;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
        display: none;
        z-index: 10001;
    }

    #navLinks.show .close-btn {
        display: block;
    }

    .logo-container {
        position: relative;
        top: auto;
        left: auto;
        z-index: 10000;
    }
}





.Header-latestEvent {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 150px;
}

.Header-latestEvent h1 {
    color: white;
    font-size: 35px;
    transform: capitalize;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.Header-latestEvent p {
    color: white;
    font-size: 15px;
    transform: capitalize;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.container {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 270px;
    margin: 10px;
    border-radius: 15px;
    border: 2px solid #213555;
}

.card-image {
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.gbk-1 {
    background-image: url(Image/jakartafair.png);
}

.gbk-2 {
    background-image: url(Image/indovsargen.png);
}

.gbk-3 {
    background-image: url(Image/coldplay.png);
}

.gbk-4 {
    background-image: url(Image/nicole.png);
}

.gbk-5 {
    background-image: url(Image/txt.png);
}

.gbk-6 {
    background-image: url(Image/rexorange.png);
}

.card h2 {
    padding: 10px;
}

.card p {
    padding: 10px;
}

.card h4 {
    padding: 10px;
}

.card a {
    background-color: #213555;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    border-radius: 15px 15px 15px 15px;
    text-decoration: none;
}

.card a:hover {
    background: transparent;
    border: 2px solid #213555;
    color: #213555;
    cursor: pointer;
}

.upcomingEvent {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 150px;
    background: white;
}

.upcomingEvent h1 {
    color: #213555;
    font-size: 35px;
    transform: capitalize;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.upcomingEvent p {
    color: #213555;
    font-size: 15px;
    transform: capitalize;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

footer {
    background: #213555;
    height: auto;
    width: auto;
    padding-top: 40px;
    color: white;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content img {
    width: 150px;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 15px;
}

.social {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.social li {
    margin: 0 10px;
}

.social a {
    text-decoration: none;
    color: white;
}

.social a i {
    font-size: 1.1rem;
    transition: color .4 ease;
}

.social a:hover i {
    color: #0f1b2e;
}

.footer-bottom {
    background: #0f1b2e;
    width: auto;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 15px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-decoration: uppercase;
    opacity: .4;
    font-weight: 200;
}

@media screen and (max-width: 768px) {

    .Header-latestEvent {
        padding-left: 20px;
        padding-right: 20px;
    }

    .Header-latestEvent h1 {
        font-size: 28px;
    }

    .Header-latestEvent p {
        font-size: 14px;
    }

    .upcomingEvent {
        padding-left: 20px;
        padding-right: 20px;
    }

    .upcomingEvent h1 {
        font-size: 28px;
    }

    .upcomingEvent p {
        font-size: 14px;
    }

    .nav-links.open {
        right: 0;
    }

    .card {
        width: 90%;
    }

    .footer-content {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 1000px) {
    .Header-latestEvent {
        padding-left: 20px;
        padding-right: 20px;
    }

    .Header-latestEvent h1 {
        font-size: 28px;
    }

    .Header-latestEvent p {
        font-size: 14px;
    }

    .upcomingEvent {
        padding-left: 20px;
        padding-right: 20px;
    }

    .upcomingEvent h1 {
        font-size: 28px;
    }

    .upcomingEvent p {
        font-size: 14px;
    }

    .nav-links.open {
        right: 0;
    }

    .card {
        width: 90%;
    }

    .footer-content {
        flex-direction: column-reverse;
    }
}